$box-shadow: 0px -1px 1px -1px;

body {
    
    outline: 1px solid #000;
    padding: 10px; 

}

p {
    font-size: 12px;
}

input {
    box-shadow: $box-shadow;
}

label {
    float: left;
}


form {

    .Name {
        display: grid;
        grid-template-columns: 220px 220px;

        input, label {
            display: block;
        }

    
        }
        
 
    }

#address {
    width: 870px;
    
}

#address3 {
    width: 420px;
}



